* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: rgba(0, 0, 0, 0.795);
}

h1 {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
}

.landingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 47px);
}

.start {
    background-color: hsl(209, 65%, 46%);
    font-weight: 700;
    font-size: 15px;
    height: 60px;
    width: 80px;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.notFoundWrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.elementWrapper {
    background-color: transparent;
    height: calc(100vh - 47px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementBox {
    background-color: hsl(208, 37%, 74%);
    height: 400px;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
}

.atomicNumber{
    text-align: center;
}

.elementSymbol {
    font-size: 60px;
    font-weight: 500;
}

.symbolInput {
    width: 190px;
}

::placeholder {
    color: black;
    text-align: center;
}

.buttonWrapper {
    height: 200px;
    margin: 10px;
    min-width: 190px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.next {
    padding: 5px 5px;
    font-size: 15px;
    margin: 10px 0;
    display: none;
}

.prev {
    padding: 5px 0px;
    font-size: 15px;
    margin: 10px 0;
    display: none;
}

.backToStart {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.check {
    font-size: 15px;
    margin: 10px 0px;
    width: 190px;
}

.nextLink {
    padding: 15px;
}

.prevLink {
    padding: 5px;
}

.backLink {
    padding: 5px 50px;
}

input {
    text-align: center;
}

.prevNextWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.elementNameAr {
    margin: 5px;
    margin-bottom: 10px;
}